.status_modal{
    background-color: rgba(170, 170, 252, 0.406) !important;

}
.card{
    /* background-color: rgb(34, 34, 121) !important; */
    /* color: aliceblue !important; */ 
    border:2px solid #4267b2 !important ;
    box-shadow: 3px 3px 3px 3px rgb(139, 138, 138) !important;
}
.nav-item-icons{
    width: 50px !important;
} 
.user-card{
    border: 3px solid rgba(67, 13, 84, 0.388);
    margin-top: 5px;
    border-radius: 5px;
}